*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: white;
}

.contanier{
    padding: 30px 20px 20px 20px;
    height: 100vh;
    width: 375px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.arrow{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    top: -8px;
    left: -5.2px;
    gap: 10px;
}

.arrow .img {
    padding: 8px;
    background: #FFF;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    position: relative;
    top: 10px;
    left: 5px;
}

.arrow img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    transition: 0.3s;
}

.arrow img:hover{
    transform: translateX(-4.5px);
}

.header{
    top: 5px;
    position: relative;
}

.header h1{
    color: #0B0B0B;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    line-height: normal;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}

.new-password{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.new-password form{
    margin-top: 20%;
}

.new-password form .pass{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.new-password form .password-input{
    display: flex;
    flex-direction: column;
    width: 335px;
    position: relative;
}

.new-password form .password-input label{
    font-family: Arial, Helvetica, sans-serif;
}

.new-password form .password-input input{
    margin-top: 8px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 14px 16px 14px 16px;
}

.new-password form .password-input svg{
    display: none;
}

.new-password form .password-input .open{
    display: inline;
    position: absolute;
    right: 10px;
    top: 34px;
    cursor: pointer;
}

.new-password form .password-input .text{
    top: 40px;
    right: 10px;
}

.new-password form .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.new-password form .submit a{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 15px 20px;
    background-color: #8abe5e;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    text-align: center;
}

.new-password form .submit a:hover{
    background-color: #669640;
}

.new-password .remember-account{
    position: relative;
    bottom: -187px;
    width: 335px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.new-password .remember-account p{
    font-size: 14px;
    padding: 14px 0.64px;
    font-family: Arial, Helvetica, sans-serif;
}

.new-password .remember-account a{
    border: none;
    outline: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    padding:  14px 10px;
    background-color: #EFF4EB;
    font-family: Arial, Helvetica, sans-serif;
    color: #8abe5e;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.new-password .remember-account a:hover{
    color: #669640;
}
