*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: #f8f8f8;
}

.contanier{
    height: 100vh;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--main-color-100, #669640);
    background-image: url(./imgs/Vector.png);
}

.loading-div{
    border-radius: 5px;
    position: relative;
    bottom: -170px;
    height: 6px;
    width: 335px;
    background: var(--main-color-90, #75A053);    
    margin-top: 20px;
}

.loading{
    border-radius: 5px;
    height: 5px;
    background-color: #EFF4EB;
    width: 0px;
}