*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: white;
}

.contanier{
    padding: 16px 20px 0 20px;
    height: 100%;
    width: 375px;
    background-color: #f8f8f8;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    gap: 16px;
}

.contanier .subtitle{
    display: flex;
    width: 335px;
    justify-content: space-between;
    align-items: center;
}

.contanier .subtitle .left{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.contanier .subtitle svg{
    justify-content: center;
    display: flex;
    align-items: center;
}

.contanier .subtitle svg rect{
    transition: 0.3s;
    cursor: pointer;
}

.contanier .subtitle svg:hover rect{
    fill: #669640;
}

.contanier .subtitle svg:hover path{
    fill: white;
}

.contanier .subtitle svg path{
    transition: 0.3s;
}

.contanier .subtitle svg:hover path{
    transform: translateX(-4px);
}

.contanier .subtitle h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.contanier .subtitle p{
    font-family: Arial, Helvetica, sans-serif;
    color:#4D4D4D;
    font-size: 14px;
    font-style: normal;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
}

.contanier .subtitle p svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    transition: 0.3s;
    left: 4px;
}

.contanier .subtitle p:hover svg{
    transform: translateX(4.5px);
}

.contanier .subtitle p:hover path{
    fill: #669640;
}

.contanier .donate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.contanier .donate .amount{
    display: flex;
    width: 335px;
    height: 118px;
    padding: 14px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #0062A0;
    background: #E7EFF4;
    box-shadow: 0px 0px 4px 0px rgba(0, 98, 160, 0.40);
}

.contanier .donate .amount p{
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.contanier .donate .amount input{
    color: #0062A0;
    outline: none;
    border: none;
    background: #E7EFF4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration-line: underline;
}

.contanier .donate .amount input::placeholder{
    color: #0062A0;
}

.contanier .donate .numbers{
    display: flex;
    align-items: flex-start;
    gap: 5.5px;
    flex-wrap: wrap;
}

.contanier .donate .numbers span{
    display: flex;
    width: 108px;
    height: 40px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background: #E7EFF4;
    color: #0062A0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
    cursor: pointer;
}

.contanier .donate .numbers span:hover{
    background: #0062A0;
    color: #FFF;
}

.contanier .donate p:first-child{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
    margin: 16px 8px 50px 0;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

form div.aa input::placeholder{
    color: #000;
    font-size: 12.5px;
}

form div label{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

form div label span{
    color: red;
}

form div.a input{
    border: none;
    outline: none;
    border-radius: 8px;
    width: 335px;
    height: 48px;
    padding: 14px 16px 14px 16px;
    color: #828282;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

form div.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

form div.flex input{
    width: 163px;
    height: 48px;
    position: relative;
}

svg.a {
    display: flex;
    position: absolute;
    margin-top: 35px;
    margin-left: 290px;
    cursor: pointer;
}

form div input::placeholder{
    color: #828282;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.gender{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.gender label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.gender .group {
    gap: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#field {
    width: 335px;
    height: 48px;       
    text-align: center;
    background-color: white;
    opacity:0.83;
    padding: 7px;
    margin: 0 auto;
    border-radius: 8px;
}

.sui-datepicker, .sui-datepicker.sui-disabled:hover, .sui-datetimepicker, .sui-datetimepicker.sui-disabled:hover, .sui-monthyearpicker, .sui-monthyearpicker.sui-disabled:hover, .sui-timepicker, .sui-timepicker.sui-disabled:hover {
    border-color: none;
    color: #6d6d6d;
    width: 303px !important;
    height: 100% !important;       
    border: none !important;
}

.sui-datepicker .sui-picker-input, .sui-datetimepicker .sui-picker-input, .sui-monthyearpicker .sui-picker-input, .sui-timepicker .sui-picker-input {
    height: 100%;
    width: 100%;
}

.sui-datepicker .sui-icon-wrapper, .sui-datetimepicker .sui-time-icon-wrapper, .sui-monthyearpicker .sui-icon-wrapper, .sui-timepicker .sui-icon-wrapper {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.7em;
    height: 100%;
    line-height: 2em;
    min-height: 1.65em;
    text-align: center;
    vertical-align: middle;
}


.sui-datepicker:hover, .sui-datetimepicker:hover, .sui-monthyearpicker:hover, .sui-timepicker:hover {
    background-color: #669640 !important;
}






.contanier .wallets{
    display: flex;
    width: 335px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.03);
}

.contanier .wallet{
    display: flex;
    width: 303px;
    justify-content: space-between;
    align-items: flex-start;
}

.contanier .wallet .detalies{
    display: flex;
    flex-direction: row;
    width: 303px;
    justify-content: space-between;
    align-items: center;
}

.contanier .wallet .detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: row;
    flex-shrink: 0;
}

span.circle{
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 24px;
    background: var(--secondary-20, #DBDBDB);
}

.contanier .wallet .detail .m{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contanier .wallet .detail .m p.title{
    color: #0B0B0B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contanier .wallet .detail .m p.sub-title{
    color: #0B0B0B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.contanier .wallets span.line{
    display: block;
    width: 100%;
    height: 1px;
    background: #EDEDED;
}


span.selection {
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 24px;
    border: solid 8px #0062A0;
    padding: 1px;
    background: #00d4ff;
}

.contanier .wallets .layout{
    display: flex;
    width: 303px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.contanier .wallets .layout a{
    display: flex;
    width: 147px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    text-decoration: none;
    color: #0063a0c4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s;
}

.contanier .wallets .layout a:hover{
    color: #0062A0;
}


.contanier .wallets .layout a:last-child{
    background: #E7EFF4;
}

.contanier ul{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 335px;
    margin-bottom: 40px;
}

.contanier ul li{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    gap: 4px;
    border-radius: 20px;
    color: #4D4D4D;
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s;
    cursor: pointer;
}

.contanier ul li:hover{
    color:#FFF;
    background-color: #669640;
}

.contanier ul li svg{
    display: flex;
    width: 19px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.contanier ul li:hover path{
    fill: #FFF;
}

.pay{
    display: inline-flex;
    height: 84px;
    padding: 16px 20px 24px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.05);
}

a.pay-now{
    text-decoration: none;
    width: 100%;
}

a.pay-now [type=submit]{
    display: flex;
    outline: none;
    border: none;
    width: 335px;
    height: 48px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
    background: #8abe5e;
    color: #FFF;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.4s;
}

a.pay-now [type=submit]:hover{
    background: #669640;
}

.d-none{
    display: none;
}