*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: white;
}

.contanier{
    padding: 16px 20px 0 20px;
    height: 170vh;
    width: 375px;
    background-color: #f8f8f8;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    gap: 16px;
}

.contanier .subtitle{
    display: flex;
    width: 335px;
    justify-content: space-between;
    align-items: center;
}

.contanier .subtitle .left{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.contanier .subtitle svg{
    justify-content: center;
    display: flex;
    align-items: center;
}

.contanier .subtitle svg rect{
    transition: 0.3s;
    cursor: pointer;
}

.contanier .subtitle svg:hover rect{
    fill: #669640;
}

.contanier .subtitle svg:hover path{
    fill: white;
}

.contanier .subtitle svg path{
    transition: 0.3s;
}

.contanier .subtitle svg:hover path{
    transform: translateX(-4px);
}

.contanier .subtitle h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.contanier .subtitle p{
    font-family: Arial, Helvetica, sans-serif;
    color:#4D4D4D;
    font-size: 14px;
    font-style: normal;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
}

.contanier .subtitle p svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    transition: 0.3s;
    left: 4px;
}

.contanier .subtitle p:hover svg{
    transform: translateX(4.5px);
}

.contanier .subtitle p:hover path{
    fill: #669640;
}

.contanier .notifications{
    display: flex;
    width: 335px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.03);
    font-family: Arial, Helvetica, sans-serif;
}

.contanier .notification{
    display: flex;
    width: 303px;
    justify-content: space-between;
    align-items: center;
}

.contanier .notification p{
    color: #0B0B0B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contanier .notifications span{
    width: 303px;
    height: 1px;
    background: #EFF0F1;
}

.contanier .notification label{
    background-color: #DBDBDB;
    width: 44px;
    height: 26px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

label.button::before{
    position: absolute;
    content: '';
    background-color: #C9C9C9;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 5px;
    transition: 0.2s;
    bottom: -0.7px;
}

#check:checked + label{
    background-color: #20096d;
}

#check:checked + label.button::before{
    transform: translateX(16px);
}

#check{
    display: none;
}