*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: white;
}

.contanier{
    padding: 30px 20px 20px 20px;
    height: 100vh;
    width: 375px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.arrow{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    top: -8px;
    left: -5.2px;
    gap: 10px;
}

.arrow .img {
    padding: 8px;
    background: #FFF;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    position: relative;
    top: 10px;
    left: 5px;
}

.arrow img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    transition: 0.3s;
}

.arrow img:hover{
    transform: translateX(-4.5px);
}

.header{
    top: 5px;
    position: relative;
}

.header h1{
    color: #0B0B0B;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    line-height: normal;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}

.new-password{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.new-password form{
    margin-top: 20%;
}

.new-password form .pass{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.new-password form .password-input{
    display: flex;
    flex-direction: column;
    width: 335px;
    position: relative;
}

.new-password form .password-input label{
    font-family: Arial, Helvetica, sans-serif;
}

.new-password form .password-input:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.new-password form .password-input input{
    margin-top: 8px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 8px;
    padding: 14px 16px 14px 16px;
}

.new-password form .password-input input::placeholder{
    color: #B7B7B7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-password form .password-input p{
    color: #000;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s;
    cursor: pointer;
}

.new-password form .password-input p:hover{
    color: #0062A0;
}

.new-password form .password-input svg{
    display: none;
}

.new-password form .password-input .open{
    display: inline;
    position: absolute;
    right: 10px;
    top: 34px;
    cursor: pointer;
}

.new-password form .password-input:last-child .open{
    display: none;
}

.new-password form .password-input .text{
    top: 40px;
    right: 13px;
}

a.save-now{
    background: #FFF;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 16px 20px;
    position: fixed;
    bottom: 0;
    text-decoration: none;
}

a.save-now [type=submit]{
    display: flex;
    outline: none;
    border: none;
    width: 335px;
    height: 48px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
    background: #8abe5e;
    color: #FFF;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.4s;
}

a.save-now [type=submit]:hover{
    background: #669640;
}
