*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: white;
}

.contanier{
    padding: 30px 20px 20px 20px;
    height: 100vh;
    width: 375px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.arrow{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    top: -8px;
    left: -34px;
    gap: 10px;
}

.arrow .img {
    padding: 8px;
    background: #FFF;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    position: relative;
    top: 10px;
    left: 5px;
}

.arrow img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    transition: 0.3s;
}

.arrow img:hover{
    transform: translateX(-4.5px);
}

.header {
    top: 5px;
    position: relative;
}

.reset .header h1{
    color: #0B0B0B;
    font-weight: 900;
    margin: 10px 0;
    text-align: center;
}

.reset form{
    margin-top: 200px;
}

.reset form div{
    display: flex;
    flex-direction: column;
    gap: 8px ;
}

.reset form div label{
    display: flex;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

.reset form div input{
    margin: 15px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 14px 16px;
}

.reset form .submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset form .submit a{
    width: 335px;
    border: none;
    outline: none;
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 16px;
    background-color: #8abe5e;
    color: #fff;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.reset form .submit a:hover{
    background-color: #669640;
}

.reset .remember-account{
    position: relative;
    bottom: -150px  ;
    width: 335px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.reset .remember-account p{
    font-size: 14px;
    padding: 14px 0.64px;
    font-family: Arial, Helvetica, sans-serif;
}

.reset .remember-account a{
    border: none;
    outline: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    padding:  14px 10px;
    background-color: #EFF4EB;
    font-family: Arial, Helvetica, sans-serif;
    color: #8abe5e;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.reset .remember-account a:hover{
    color: #669640;
}
