*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: white;
}

.contanier{
    padding: 30px 20px 20px 20px;
    height: 100vh;
    width: 375px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contanier .subtitle{
    display: flex;
    width: 335px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.contanier .subtitle .left{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.contanier .subtitle svg{
    justify-content: center;
    display: flex;
    align-items: center;
}

.contanier .subtitle svg rect{
    transition: 0.3s;
    cursor: pointer;
}

.contanier .subtitle svg:hover rect{
    fill: #669640;
}

.contanier .subtitle svg:hover path{
    fill: white;
}

.contanier .subtitle svg path{
    transition: 0.3s;
}

.contanier .subtitle svg:hover path{
    transform: translateX(-4px);
}
  
.contanier .subtitle h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.reset form{
    margin: auto;
}

.reset form div{
    display: flex;
    flex-direction: column;
    gap: 8px ;
}

.reset form div label{
    display: flex;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

.reset form div input{
    margin: 15px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 14px 16px;
}

.reset form .submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset form .submit a{
    width: 335px;
    border: none;
    outline: none;
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 16px;
    background-color: #8abe5e;
    color: #fff;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.reset form .submit a:hover{
    background-color: #669640;
}

.reset .remember-account{
    position: relative;
    bottom: 0 ;
    width: 335px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.reset .remember-account p{
    font-size: 13px;
    font-weight: 400;
    width: 59%;
    font-family: Arial, Helvetica, sans-serif;
}

.reset .remember-account a {
    border: none;
    outline: none;
    height: 44px;
    width: 45%;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 10px;
    background-color: #EFF4EB;
    font-family: Arial, Helvetica, sans-serif;
    color: #8abe5e;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-style: normal;
    transition: 0.3s;
}

.reset .remember-account a:hover{
    color: #669640;
}
